body
{
}

div.pacbar
{
    width: 100%;
    display: block;
    position: relative;
    margin: 0px auto;
    padding: 0px;
    font-family: Verdana, Arial;
}

div.pacbar .pacbar-wrapper
{
    background-color: #ffffff;
    width: 100%;
    border-bottom: 10px solid #e5d247;
}

div.pacbar.closed .pacbar-wrapper
{
    border-bottom: none;
}


div.pacbar .pacbar-inner
{
    width: 90%;
    height: 60px;
    margin: 0px 5%;
    text-align: center;
    position: relative;
    padding: 25px 0px 0px;
}

div.pacbar.closed .pacbar-inner
{
    height: 0px;
    overflow: hidden;
    display: none;
}

div.pacbar .pacbar-inner
{
    background-color: #ffffff;
}

div.pacbar .pacbar-inner h3
{
    display: inline-block;
    padding-right: 10%;
    color: #010101;
    font-size: 22px;
    text-align: left;
}

div.pacbar .pacbar-inner ul
{
    display: inline-block;
}

div.pacbar .pacbar-inner ul li
{
    display: inline;
    padding-right: 30px;
}

div.pacbar .pacbar-inner ul li:last-child
{
    padding-right: 0px;
}

div.pacbar .pacbar-inner ul li a
{
    font-weight: bold;
    background-color: #191919;
    padding: 12px 20px;
    font-size: 16px;
    color: #cfcfcf;
    border-radius: 20px;
    outline: none !important;
}

div.pacbar .pacbar-inner ul li a.enabled,
div.pacbar.closed .pacbar-control a
{
    background-color: #e3d244;
    color: #040000;
    font-weight: normal;
}

div.pacbar .pacbar-control
{
    width: 100%;
    margin: 0px -7%;
    z-index: 9999;
    text-align: right;
    position: absolute;
}

body div.pacbar .pacbar-control a
{
    display: inline-block;
    height: 20px;
    background-color: #e3d244;
    text-align: center;
    padding: 2px 10px 6px 10px !important;
    color: #121212;
    font-size: 16px;
    border-radius: 0px 0px 8px 8px;
    font-weight: bold !important;
    outline: none !important;
}

div.pacbar.closed .pacbar-control
{
    margin-top: 20px;
}

div.pacbar .pacbar-control a
{
    width: auto;
    padding: initial;
}

div.pacbar.closed .pacbar-control a
{
    border-radius: 20px !important;
}


/*Theme specific*/


html body.pacbar-erf #main-wrapper,
html body.pacbar-erf #main-wrapper div,
html body.pacbar-erf #main-wrapper div span,
html body.pacbar-erf #main-wrapper a,
html body.pacbar-erf #main-wrapper a span,
html body.pacbar-erf #main-wrapper p,
html body.pacbar-erf #main-wrapper p a,
html body.pacbar-erf #main-wrapper p span,
html body.pacbar-erf #main-wrapper p span a,
html body.pacbar-erf #main-wrapper h1,
html body.pacbar-erf #main-wrapper h2,
html body.pacbar-erf #main-wrapper h3,
html body.pacbar-erf #main-wrapper h4,
html body.pacbar-erf #main-wrapper h5,
html body.pacbar-erf #main-wrapper h6,
html body.pacbar-erf #main-wrapper label
{
    font-family: Arial !important;
    font-style: normal !important;
    font-size: 20px !important;
    line-height: 26px !important;
}


html body.pacbar-dc #footer .container,
html body.pacbar-dc .vc_col-sm-1,
html body.pacbar-dc .vc_col-sm-10,
html body.pacbar-dc .vc_col-sm-11,
html body.pacbar-dc .vc_col-sm-12,
html body.pacbar-dc .vc_col-sm-2,
html body.pacbar-dc .vc_col-sm-3,
html body.pacbar-dc .vc_col-sm-4,
html body.pacbar-dc .vc_col-sm-5,
html body.pacbar-dc .vc_col-sm-6,
html body.pacbar-dc .vc_col-sm-7,
html body.pacbar-dc .vc_col-sm-8,
html body.pacbar-dc .vc_col-sm-9,
html body.pacbar-dc .wpb_column,
html body.pacbar-dc .row .col-3,
html body.pacbar-dc #footer .row .col-4,
html body.pacbar-dc #footer .row .col-6,
html body.pacbar-dc #footer .row .col-10,
html body.pacbar-dc #footer .row .col-12,
html body.pacbar-dc #footer .row.footer-row
{
    float: none !important;
    display: block !important;
    margin: 0px auto !important;
    display: block !important;
    width: 100% !important;
    padding: 0px !important;
    flex: none !important;
    flex-direction: initial !important;
    text-align: center;
}

html body.pacbar-dbi div,
html body.pacbar-dbi div p,
html body.pacbar-dbi span,
html body.pacbar-dbi a,
html body.pacbar-dbi div div
{
    background-image: none !important;
}

html body.pacbar-da .ls-container,
html body.pacbar-da .ls-container div
{
    transform: none !important;
    background: none !important;
    background-image: none !important;
}

html body.pacbar-da .ls-container div video
{
    display: none;
}