/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

table.umcerts-table
{
    border: 1px solid #121212;
    padding: 2px;
}

table.umcerts-table thead
{

}

table.umcerts-table thead tr
{

}

table.umcerts-table thead tr th
{
    background-color: #121212;
    color: #ffffff;
    font-weight: bold;
}

table.umcerts-table thead tr th,
table.umcerts-table tbody tr td
{
    border: 1px solid #121212;
    padding: 4px 3px;
}


table.umcerts-table tbody
{

}

table.umcerts-table tbody tr
{

}

table.umcerts-table tbody tr td
{
    border: 1px solid #121212;
}

table.umcerts-table tbody tr.pending
{
    background-color: #fffbab;
}
table.umcerts-table tbody tr.bad
{
    background-color: #cc1f26;
}

table.umcerts-table tbody tr.bad td,
table.umcerts-table tbody tr.bad td a
{
    color: #ffffff;
}

div.um-field div.um-field-area p.problem
{
    font-weight: bold;
}

div.um-field div.um-field-area p.pending
{
    color: #f19200;
}

div.um-field div.um-field-area p.bad
{
    color: #cc0000;
}